---
import Layout from './Layout.astro';
import Navbar from '../components/Navbar.astro';

const {title, img, navColor, navBackground} = Astro.props
---

<Layout
    {...{title}}
>
    <header class="project" id="header">
        <img class="main" src={img.src} alt={img.alt}/>

        <a href="#main">
            <img class="arrow" src="/img/arrow-light.svg" alt=""/>
        </a>
    </header>

    <Navbar color={navColor} background={navBackground} homeLink="/"/>

    <main class="project" id="main">
        <slot/>
    </main>
</Layout>

